.header {
    height: 35px;
    width: 100%;
    // min-height: 4rem;
    // background-color: ;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    .logocontainer {
        height: 100%;
        width: 70%;
        padding: 25 px;
    }
    .option {
        margin-left: 12%;
        margin-right: 5%;
        color: white;
        align-items: right;
        justify-content: flex-end;
        padding: 10px 15px;
    }
    .displayname {
        margin-left: auto;
        color: white;
        font-size: larger;
        display: flex;
        align-items: right;
    }
    .email {
        color: white;
        font-size: larger;
        margin-left: 5%;
        display: flex;
        align-items: right;
    }
}