.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    .logo-container {
        height: 100%;
        width: 70%;
        padding: 25 px;
    }
    .option {
        margin-left: 12%;
        display: flex;
        color: white;
        align-items: right;
        justify-content: flex-end;
        .option {
            padding: 10px 15px;
        }
    }
    .displayname {
        color: white;
        font-size: larger;
        margin-left: 25%;
        display: flex;
        align-items: right;
    }
    .email {
        color: white;
        font-size: larger;
        margin-left: 5%;
        display: flex;
        align-items: right;
    }
}